<footer class="bg-light text-center text-lg-start border-top mt-5">
  <div class="container p-4">
    <div class="row align-items-center">
      <!-- Social Links -->
      <div class="col-lg-4 mb-4 mb-lg-0">
        <div class="d-flex justify-content-center justify-content-lg-start gap-3">
          <a href="#" class="text-dark fs-3" aria-label="Facebook">
            <i class="fa-brands fa-square-facebook"></i>
          </a>
          <a href="https://github.com/Purnima47" target="_blank" class="text-dark fs-3" aria-label="GitHub">
            <i class="fa-brands fa-square-github"></i>
          </a>
          <a href="#" class="text-dark fs-3" aria-label="Instagram">
            <i class="fa-brands fa-square-instagram"></i>
          </a>
          <a href="https://www.linkedin.com/in/purnima47/" target="_blank" class="text-dark fs-3" aria-label="LinkedIn">
            <i class="fa-brands fa-linkedin"></i>
          </a>
        </div>
      </div>

      <!-- Brand Info -->
      <div class="col-lg-4 mb-4 mb-lg-0">
        <div class="text-center fw-semibold">
          &copy; Wanderlust Private Limited
        </div>
      </div>

      <!-- Footer Links -->
      <div class="col-lg-4">
        <div class="d-flex justify-content-center justify-content-lg-end">
          <a href="/privacy" class="text-dark text-decoration-none">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</footer>